# Godot 4+ specific ignores
.godot/
/android/
repomix-output.txt

# Ignore everything in addons except for gecs
addons/*
!addons/gecs/
!addons/gecs/**
# include qt_tools because it's a dependency of game
!addons/qt_tools/
!addons/qt_tools/**

game/
qt/

# random files
*.spp
*.painter_lock
